.pio
.vscode/
.history
*backups/
*.log
*.lck
fp-lib-table
*.kicad_prl
*.kicad_pro
*.kicad_pcb
kicad/ord-v0.1/ord-keypad-v0.1.kicad_sch
.vscode/settings.json
*.code-workspace
include/ttf
.vscode/settings.json
can-capture-savvy.csv
can0.pcapng
src/build_info.cpp
